/* ReservedTime */

.ReservedTime {
	z-index: 100;
	padding: 10px;
	position: absolute;
	width: 98%;
	margin-left: calc(2% / 2);
	margin-top: 2px;
	border-radius: 5px;
	border: 2px solid rgb(233, 30, 99);
	background-color: rgba(233, 30, 99, 0.8);
	transition: background 0.25s;
}

.ReservedTime:hover {
	background-color: rgb(233, 30, 99);
}

.ReservedTime__heading {
	margin: 0;
  margin-top: 5%;
	font-size: 18px;
}

.ReservedTime__delete {
  width: 25px;
  height: 25px;
	position: absolute;
	top: 0px;
  right: 0px;
	cursor: pointer;
}